.time-date{
    background: black;
    height: 3rem;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: .9rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
ul{
    list-style: none;
    display: flex;
    gap: 1rem;
}
@media screen and (max-width: 760px) {
    .time-date{
        display: none;
    } 
}