.the-editor{
    margin: 2rem 0;
}

.theads{
  margin: 3rem auto 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.features{
   position: relative;
}
.feat-foto{
    height: 19rem;
    width: 16rem;
    position: relative;
}
.feat-foto img{
   width: 100%;
   height: 100%;
}
.feat-cover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    color: #fff;
    background: linear-gradient(to bottom, rgb(225, 225, 225, .1), rgb(225, 225, 225, .2),rgb(0, 0, 0, .5), rgb(0, 0, 0, .9));
}
.the-editor div div div .slick-dots{
    display: none;
    opacity: 0;
}
.feat-cover .feat-cont{
    padding: 1rem .7rem ;
    bottom: 1rem;
    position: absolute;
}
.feat-cover .date-cat{
   display: flex;
   padding: .4rem 0;
   font-size: clamp(.7rem, .7rem + 1vw, 1rem);
}
.feat-cover .date-cat a{
    text-decoration: none;
    color: #fff;
 }
.feat-cover .feat-title{
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(.5rem, 1rem + .5vw, .85rem); ;
 }
 .feat-title a{
    color: #fff;
 }

 @media screen and (max-width: 420px) {
    .feat-cover .feat-cont{
        /* padding: 60% .7rem ; */
        position: absolute;
    }
}
 @media screen and (max-width: 760px) {
    .features{
        grid-template-columns: 1fr 
    }
    .theads{
        margin: 3rem 10% 1rem 10%;
      }
    .theads img{
        padding: 0rem 10% 0rem 10%;
        width: 100%;
      }
      .feat-foto{
        width: 95%;
        position: relative;
    }
    /* .feat-cover .feat-cont{
        padding: 80% .7rem ;
        position: absolute;
    } */

}