.newimg {
  width: 55rem;
  height: 32rem;
  position: relative; 
}
.newimg img{
  width: 100%;
  height: 100%;
}
.crypt-img-cov{
  border-image: fill 1 linear-gradient(#ffffff00, #ffffff00, #00000065, #000000ee);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  padding: 0 2rem;
}
.lat-cat{
  margin: 22em 0 0 0;
  color: #fff;
}
.list {
  
}
.latest-button{
  position: absolute;
  top: 50%;
  left:clamp(70%, 48vw + 2rem, 38rem);
  width: 100%;
}
.latest-button .butoon{
  width: 100%;
}
.latest-button .butoon .button{
  background-color: #5f5f5f;
  color: #f3f3f3;
  cursor: pointer;
}
.latest-button .butoon .button:hover{
  background-color: #f3f3f3;
  color:  #5f5f5f;
  
}

.lists {
  position: relative;
  width: 28rem;
  height: 30rem;
}
.cate {
  color: #fff;
}
.categ{
  color: #fff;
  padding: 0 2rem;
  font-size: 1.2rem;
}
.title-sum {
  position: absolute;
  top: 75%;
  display: none;
}
.life {
  background: #19c22a;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}
.tech {
  background: #f4af46;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}
.sport {
  background: #0085ff;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}
.market {
  background: #5a31f4;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}
.business {
  background: #55cec0;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}
.fash {
  background: #9c27b0;
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: #fff;
}

.minlist {
  display: grid;
  gap: 3rem;
  grid-template-columns: 3fr 2fr;
  padding: 0rem 5%;
  margin: 2rem 0 2rem 0;
}
.hero-title{
  font-size: clamp(2vw, 2vw + .76rem, 1.5rem); 
  margin-top: 1rem;
  font-weight: 600;
  width: 80%;
}
.lat-left {
  width: clamp(25vw, 54vw + 1rem, 55vw);
  height: 30rem;
  position: relative;
}
.lat-left div .slick-slider .slick-dots{
  display: none;
}
.lat-right {
  width: 35vw;
  padding: 2rem 0;
}
.shild {
}
.theshi {
  width: clamp(15rem, 30vw + 1rem, 22rem);
  margin: 1rem 0;
}
.ins1 {
}
.ins2 {
  width: 40%;
}
.mostview {
  display: flex;
  justify-content: left;
  align-items: center;
  position: relative;
}
.mostview span {
  font-size: clamp(.9rem, 2vw, 1.2rem);
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.thehr {
  rotate: 90deg;
  height: 5px;
  width: 25px;
  border-style: none;
  background: gray;
}
.authfoto {
  width: clamp(1rem, 1rem + .8vw, 2rem)
}
.authfoto img {
  width: 100%;
  border-radius: 50%;
}
.author-nmfoto {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.authdate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .3rem 0 0 0;
}
.new_photo {
  max-width: 6.5rem;
}
.new_photo img {
  width: 100%;
  height: 5.5rem;
}
.list-sec {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: .5rem 0;
}
.title-uthor a {
  color: #000;
}
.title-uthor a .most-title span{
  color: #000;
}
.most-title {
  font-size: "1.05rem";
  margin: ".6rem 0";
  padding: "0rem 0 .2rem 0";
}
.xtra-button{
  display: none;
  position: absolute;
  top: -4rem;
  right: 0;
  z-index: 1000;
}
@media screen and (max-width: 300px) {
  .new_photo {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .minlist {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr;
  }
  .lat-left {
    width: 90vw;
    overflow-x: hidden;
  }
  .lat-right {
    width: 90vw;
    margin: 1rem 1rem 0 0;
  }
  .theshi {
    width: 90vw;
    margin: 1rem 0rem;
    padding: 0;
  }
  .authdate {
    font-size: 0.8rem;
    margin: .5rem 0 0 0;
  }
 
  .most-title {
    font-size: ".8rem";
    margin: "1rem 0";
    padding: "1rem 0 .5rem 0";
    
  }
  .lists {
    position: relative;
    width: 100%;
    max-height: 28rem;
    border-image: fill 1 linear-gradient(#fff #000);
  }
  .newimg{
    width: 100%;
    max-height: 28rem; 
    border-image: fill 1 linear-gradient(#fff #000);
  }
  .newimg img{
    width: 100%;
    border-image: fill 1 linear-gradient(#fff #000);
  }
  .crypt-img-cover{
    border-image: fill 1 linear-gradient(#fff, #000);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
  }
 .lat-left div div ul li{
    display: none;
 }
 .lat-cat{
  margin: 20em 0 0 0;
  color: #fff;
}
.lat-left .dot-list .slick-initialized ul{
  opacity: 0;
}
}
